<table class="table">
    <thead>
        <tr>
            <th>Oder number</th>
            <th>Address</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of oderEnteredList">
            <td>{{ order.orderCode}}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.status }}</td>
            <td>
                <button type="button" class="btn btn-success" (click)="onDelivery(order)">Move to delivery</button>
                <button type="button" class="btn btn-danger" (click)="onCancel(order)">Cancel</button>
            </td>
        </tr>

    </tbody>
</table>